@using Microsoft.AspNetCore.Components.Web
@namespace OnigiriShop.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using OnigiriShop.Services
@inject SiteNameService SiteNameService

<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@SiteNameService.GetSiteName()</title>
    <base href="~/" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/quill/quill.snow.min.css" rel="stylesheet" />
    <link href="~/flatpickr/flatpickr.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/chart.js/chart.umd.min.js"></script>
    <script src="~/quill/quill.min.js"></script>
    <script src="~/fullcalendar/index.global.min.js"></script>
    <script src="~/flatpickr/flatpickr.min.js"></script>
    <script src="~/flatpickr/l10n/fr.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/scripts/scripts.js"></script>
</body>
</html>
