@if (CartService.TotalCount() > 0 && _canOrder)
{
    <button class="btn btn-success" @onclick="GotoPanier">Commander (@CartService.TotalCount())</button>
}
else if (CartService.TotalCount() == 0)
{
    <button class="btn btn-secondary" disabled>Commander</button>
}
else if (!_canOrder)
{
    <button class="btn btn-primary" @onclick="GotoLogin">Se connecter pour commander</button>
}