@using OnigiriShop.Pages
@inherits AdminLayoutBase

<header class="main-title">
    Onigiris et Sponge Cakes
</header>

<main class="container-fluid pt-4">
    <LoginModal Visible="@ShowLoginModal" OnHide="HideLoginModal" />
    @if (IsAuthenticated && IsAdmin)
    {
        @Body
    }
</main>