@using OnigiriShop.Pages
@inherits AdminLayoutBase

<MainHeader IsAdminContext="true" />

<BootstrapToasts />

<main class="container-fluid pt-4">
    <LoginModal Visible="@ShowLoginModal" OnHide="HideLoginModal" />
    @if (IsAuthenticated && IsAdmin)
    {
        @Body
    }
</main>