@inherits MainLayoutBase

<MainHeader />

<div class="japan-overlay d-none d-lg-flex">
    <div class="japan-vertical">おにぎりとスポンジケーキ</div>
</div>

<BootstrapToasts />

<main class="container-fluid pt-4">
        <CartSticky ShowCart="@ShowCartSticky" />
        <ErrorModal Show="@ErrorModalService.Show"
                    ShowChanged="ErrorModalService.Hide"
                    Message="@ErrorModalService.Message"
                    Title="@ErrorModalService.Title" />
        @Body
</main>