@inherits MainLayoutBase

<MainHeader />

<BootstrapToasts />

<div class="layout-container d-flex">
    <div class="japan-column d-none d-lg-flex">
        <div class="japan-vertical">おにぎりとスポンジケーキ</div>
    </div>
    <main class="flex-fill pt-4 position-relative">
        <CartBar ShowCart="@ShowCartSticky" />
        <AdminFabMenu />
        <ErrorModal Show="@ErrorModalService.Show"
                    ShowChanged="ErrorModalService.Hide"
                    Message="@ErrorModalService.Message"
                    Title="@ErrorModalService.Title" />
        @Body
    </main>
</div>
