@inherits MainLayoutBase

<MainHeader />

<div class="japan-overlay d-none d-lg-flex">
    <div class="japan-vertical">おにぎりとスポンジケーキ</div>
</div>

<BootstrapToasts />

<main class="container-fluid pt-4">
    <CascadingValue Value="ShowCartSticky">
        <CartSticky ShowCart="@ShowCartSticky" />
        @Body
    </CascadingValue>
</main>